.columnaCentrada {
  display: flex;
  flex-direction: column;
  align-items: center; }

.filaCentrada {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media (min-width: 320px) and (max-width: 540px) {
    .filaCentrada {
      flex-direction: column; } }

.reversa {
  flex-direction: row-reverse; }
  @media (min-width: 320px) and (max-width: 540px) {
    .reversa {
      flex-direction: column; } }

header {
  grid-area: header;
  position: sticky;
  top: 0px;
  border-top: 0.2rem solid #0f1919;
  border-bottom: 0.2rem solid #0f1919;
  background-image: linear-gradient(to bottom, #0f2121, #0f3c3c, #0f2121);
  z-index: 1; }
  @media (min-width: 541px) and (max-width: 720px) {
    header .header {
      justify-content: center; } }
  header .header__watermark {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; }
    @media (min-width: 541px) and (max-width: 720px) {
      header .header__watermark {
        justify-content: center; } }
  header .header__logo {
    margin: 0.5rem;
    width: 6rem;
    height: auto; }
    header .header__logo:hover {
      transform: scale(1.1);
      transition: all 0.5s; }
    @media (min-width: 541px) and (max-width: 720px) {
      header .header__logo {
        width: 5.5rem;
        margin: 0.1rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      header .header__logo {
        width: 5rem;
        margin: 0.1rem; } }
  header .header__name {
    justify-content: center;
    padding: 0.125rem;
    margin: 0.125rem; }
    @media (min-width: 320px) and (max-width: 540px) {
      header .header__name {
        margin: 0.125rem; } }
  header .header__title {
    font-family: 'Bungee Inline', cursive;
    font-size: 1.9rem;
    padding: 0.35rem;
    padding-bottom: 0;
    text-shadow: 1px 1px 1px black, 0 0 4px #dfbe7d, 0 0 2px rgba(199, 151, 56, 0.75);
    color: #e3ae6c; }
    @media (min-width: 541px) and (max-width: 720px) {
      header .header__title {
        font-size: 1.6rem;
        padding: 0.125rem;
        margin: 0.125rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      header .header__title {
        font-size: 1.6rem;
        padding: 0.125rem;
        margin: 0.125rem; } }
  header .header__subtitle {
    font-size: 1.4rem;
    font-family: 'Amatic SC', cursive;
    padding: 0.125rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px black, 0 0 12px #dfbe7d, 0 0 6px rgba(199, 151, 56, 0.75);
    color: #dca064; }
    @media (min-width: 541px) and (max-width: 720px) {
      header .header__subtitle {
        font-size: 1.2rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      header .header__subtitle {
        font-size: 1.1rem; } }

.nav-item {
  font-family: 'Amatic SC', cursive;
  font-size: 1.7rem; }
  .nav-item:hover {
    transform: scale(1.25);
    transition: all 0.3s; }
  @media (min-width: 721px) and (max-width: 1230px) {
    .nav-item {
      font-size: 1.5rem; } }
  @media (min-width: 541px) and (max-width: 720px) {
    .nav-item {
      font-size: 1.4rem; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .nav-item {
      font-size: 1rem;
      margin: 0;
      padding: 0; } }

.nav-link {
  color: #3c9461;
  text-shadow: 2px 1px 1px black, 0 0 10px #478682, 0 0 5px #4ca58a; }
  .nav-link:active {
    color: #397a77; }
  .nav-link:visited {
    color: #3ea067; }
  .nav-link:hover {
    color: #a88218;
    transition: all 0.5s; }

footer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-areas: "nombre span redes";
  align-items: center;
  justify-content: center;
  grid-area: footer;
  padding: 2rem;
  border-top: 0.2rem solid #0b1a1b;
  border-bottom: 0.2rem solid #0b1a1b;
  background: #0e2828;
  background: linear-gradient(180deg, #0e2828 0%, #0f3a3a 50%, #0e2828 100%); }
  @media (min-width: 320px) and (max-width: 540px) {
    footer {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr;
      grid-template-areas: "nombre" "redes" "span";
      padding: 1rem; } }
  @media (min-width: 541px) and (max-width: 720px) {
    footer .footer {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr;
      grid-template-areas: "nombre" "redes" "span"; } }
  footer .footer__name {
    grid-area: nombre;
    justify-self: center; }
  footer .footer__a {
    text-decoration: none; }
    footer .footer__a:hover {
      color: #e3ae6c;
      transform: scale(1.15);
      transition: all 0.5s; }
  footer .footer__title {
    font-family: 'Bungee Inline', cursive;
    font-size: 1.8rem;
    padding: 0.125rem;
    margin-bottom: 0;
    color: #e3ae6c;
    text-shadow: 1px 1px 1px black, 0 0 4px #dfbe7d, 0 0 2px rgba(199, 151, 56, 0.75); }
    @media (min-width: 541px) and (max-width: 720px) {
      footer .footer__title {
        font-size: 1.5em; } }
    @media (min-width: 320px) and (max-width: 540px) {
      footer .footer__title {
        font-size: 1.35rem; } }
  footer .footer__subtitle {
    font-size: 1.2rem;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 0;
    color: #dca064;
    text-shadow: 1px 1px 1px black, 0 0 12px #dfbe7d, 0 0 6px rgba(199, 151, 56, 0.75); }
    @media (min-width: 541px) and (max-width: 720px) {
      footer .footer__subtitle {
        font-size: 1.1em;
        margin-bottom: 1rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      footer .footer__subtitle {
        font-size: 1.1rem;
        margin-bottom: 1rem; } }
  footer .footer__span {
    grid-area: span;
    justify-content: center;
    font-size: 1.4rem;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    margin: 1rem;
    text-shadow: 1px 1px 1px black, 0 0 3px #478682, 0 0 1px #4ca58a;
    color: #2c792c; }
    @media (min-width: 541px) and (max-width: 720px) {
      footer .footer__span {
        font-size: 1.1em; } }
    @media (min-width: 320px) and (max-width: 540px) {
      footer .footer__span {
        font-size: 1rem; } }
  footer .footer__redes {
    grid-area: redes;
    justify-content: center;
    margin: 0; }
  footer .fa {
    justify-content: center;
    padding: 0.5rem;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    text-decoration: none;
    margin: 0.3rem 0.25rem; }
    footer .fa:hover {
      color: #0a1414;
      opacity: 0.6; }
    @media (min-width: 721px) and (max-width: 1230px) {
      footer .fa {
        font-size: 1.6rem;
        width: 3.2rem;
        height: 3.2rem; } }
    @media (min-width: 541px) and (max-width: 720px) {
      footer .fa {
        padding: 0.5rem;
        font-size: 1.6rem;
        width: 2.5rem;
        height: 2.5rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      footer .fa {
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 2.2rem;
        height: 2.2rem; } }
  footer .fa-instagram {
    background: #515bd4;
    background: linear-gradient(135deg, #515bd4 0%, #8134af 50%, #ac2763 100%);
    color: #0d330d;
    border-radius: 50%;
    transition: all 0.5s; }

.title__container {
  justify-content: center; }
  .title__container .title {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    width: 30vw;
    height: auto;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 2px solid #0f2525;
    border-radius: 30px;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px 1px black, 0 0 5px #816327, 0 0 3px #2e2410;
    background-image: linear-gradient(to bottom, #0f2b2b, #0f3c3c, #0f2b2b);
    color: #bb8644; }
    @media (min-width: 541px) and (max-width: 720px) {
      .title__container .title {
        font-size: 1.6rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .title__container .title {
        width: 50vw;
        font-size: 1.4rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem; } }

label {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.25rem 0.8rem 0.25rem 0.8rem;
  border-radius: 10px;
  background-color: rgba(14, 29, 31, 0.9);
  color: #bb8644; }

.description {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 1.25rem;
  width: 40vw;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 30px;
  border-style: groove;
  box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85);
  border-color: #0f3a3a;
  background: #7dbe7d;
  background: linear-gradient(135deg, rgba(50, 125, 60, 0.9) 0%, #7dbe7d 50%, rgba(50, 125, 60, 0.9) 100%);
  color: #0a1414; }
  @media (min-width: 721px) and (max-width: 1230px) {
    .description {
      width: 80vw; } }
  @media (min-width: 541px) and (max-width: 720px) {
    .description {
      width: 80vw; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .description {
      font-size: 1.1rem;
      width: 80vw;
      height: auto; } }

.p {
  font-family: 'Courgette', cursive;
  font-size: 1.2em;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  list-style-type: none;
  color: white;
  text-shadow: 3px 3px 2px black, 0 0 5px #2b2212, 0 0 2px #14110c; }
  @media (min-width: 541px) and (max-width: 720px) {
    .p {
      font-size: 1.1rem;
      margin: 1rem;
      padding: 0.125rem; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .p {
      font-size: 1rem;
      margin: 1rem;
      padding: 3px; } }
  .p__title {
    font-size: 1.5rem; }

.btn {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 1.3rem;
  margin: 0.6rem;
  box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85); }
  .btn:hover {
    transform: scale(1.2);
    transition: all 0.5s; }
    @media (min-width: 320px) and (max-width: 540px) {
      .btn:hover {
        transform: none; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .btn {
      font-size: 1.1rem;
      margin: 0.4rem; } }

.carousel {
  width: 90vw;
  height: auto;
  box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85); }

.cards {
  justify-content: space-evenly;
  width: 88vw;
  margin: 1rem;
  border-style: groove;
  border-color: #0f3a3a;
  border-radius: 30px;
  box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85);
  background: rgba(185, 231, 185, 0.75);
  background: linear-gradient(135deg, rgba(144, 185, 144, 0.4) 0%, rgba(185, 231, 185, 0.75) 50%, rgba(144, 185, 144, 0.4) 100%);
  color: #050f14; }
  @media (min-width: 721px) and (max-width: 1230px) {
    .cards {
      flex-direction: column; } }
  @media (min-width: 541px) and (max-width: 720px) {
    .cards {
      flex-direction: column;
      width: 90vw; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .cards {
      width: 93vw;
      margin: 1rem 0.25rem 0.25rem 0.25rem; } }
  .cards__video {
    width: 43vw;
    height: 40vh;
    margin: 1rem;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85); }
    @media (min-width: 721px) and (max-width: 1230px) {
      .cards__video {
        width: 68vw; } }
    @media (min-width: 541px) and (max-width: 720px) {
      .cards__video {
        width: 65vw;
        height: 23vh;
        margin: 0.125rem;
        margin-top: 1rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .cards__video {
        width: 85vw;
        height: 25vh;
        margin: 1rem 0rem; } }
  .cards__img {
    width: 23vw;
    height: auto;
    margin: 1rem;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85); }
    @media (min-width: 721px) and (max-width: 1230px) {
      .cards__img {
        width: 35vw; } }
    @media (min-width: 541px) and (max-width: 720px) {
      .cards__img {
        width: 55vw;
        margin: 1rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .cards__img {
        width: 70vw;
        margin: 1rem 0rem; } }
  .cards__divDescription {
    width: 33vw;
    height: auto; }
    @media (min-width: 721px) and (max-width: 1230px) {
      .cards__divDescription {
        width: 75vw; } }
    @media (min-width: 541px) and (max-width: 720px) {
      .cards__divDescription {
        width: 84vw; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .cards__divDescription {
        width: 83vw; } }
  .cards__title {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    margin: 0.8rem;
    color: #102c19;
    text-shadow: 1px 1px #b9e7b9; }
    @media (min-width: 721px) and (max-width: 1230px) {
      .cards__title {
        font-size: 1.6rem; } }
    @media (min-width: 541px) and (max-width: 720px) {
      .cards__title {
        font-size: 1.3rem;
        padding: 0.125rem;
        margin: 0.5rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .cards__title {
        font-size: 1.3rem;
        margin: 0.325rem;
        padding: 0.325rem; } }
  .cards__description {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.25rem;
    text-align: justify;
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px;
    border-style: groove;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.9);
    border-color: #0f3a3a;
    background: #7dbe7d;
    background: linear-gradient(135deg, rgba(50, 125, 60, 0.9) 0%, #7dbe7d 50%, rgba(50, 125, 60, 0.9) 100%);
    color: #050f14; }
    @media (min-width: 541px) and (max-width: 720px) {
      .cards__description {
        font-size: 1rem;
        padding: 0.25rem;
        margin: 0.5rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .cards__description {
        font-size: 1rem;
        padding: 1rem;
        margin: 0.5rem; } }

.somos {
  margin: 1rem; }
  @media (min-width: 320px) and (max-width: 540px) {
    .somos {
      margin: 0; } }
  .somos__img {
    width: 45vw;
    height: auto;
    margin: 1rem;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85); }
    .somos__img:hover {
      transform: scale(1.1);
      transition: all 1s; }
      @media (min-width: 541px) and (max-width: 720px) {
        .somos__img:hover {
          transform: none; } }
      @media (min-width: 320px) and (max-width: 540px) {
        .somos__img:hover {
          transform: none; } }
    @media (min-width: 721px) and (max-width: 1230px) {
      .somos__img {
        width: 75vw; } }
    @media (min-width: 541px) and (max-width: 720px) {
      .somos__img {
        width: 80vw; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .somos__img {
        width: 90vw;
        margin: 0.5rem; } }

.sabores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4rem;
  margin: 2rem; }
  @media (min-width: 721px) and (max-width: 1230px) {
    .sabores {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin: 1rem; } }
  @media (min-width: 541px) and (max-width: 720px) {
    .sabores {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin: 1rem; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .sabores {
      grid-template-columns: 1fr;
      gap: 0.5rem;
      margin: 1rem; } }
  .sabores__div {
    border-radius: 30px;
    border-style: groove;
    box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.9);
    border-color: #0e3223;
    background: #0f2821;
    background: linear-gradient(90deg, #103723 0%, #325f32 50%, #103723 100%); }
  .sabores__name {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
    margin: 5px;
    text-shadow: 1px 1px 1px black, 0 0 15px #dfbe7d, 0 0 8px #a87667;
    color: #5f1c07; }
  .sabores__img {
    width: 9vw;
    height: auto;
    margin: 1rem;
    border-radius: 30px;
    border-style: groove;
    border-color: #582b0d;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85); }
    .sabores__img:hover {
      transform: scale(1.2);
      transition: all 1s; }
      @media (min-width: 721px) and (max-width: 1230px) {
        .sabores__img:hover {
          transform: none; } }
      @media (min-width: 541px) and (max-width: 720px) {
        .sabores__img:hover {
          transform: none; } }
      @media (min-width: 320px) and (max-width: 540px) {
        .sabores__img:hover {
          transform: none; } }
    @media (min-width: 721px) and (max-width: 1230px) {
      .sabores__img {
        width: 15vw; } }
    @media (min-width: 541px) and (max-width: 720px) {
      .sabores__img {
        width: 25vw; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .sabores__img {
        width: 33vw; } }
  .sabores__ul {
    margin: 1rem;
    padding: 0.125rem; }
    .sabores__ul li {
      list-style-type: none; }
  .sabores__p {
    font-family: 'Courgette', cursive;
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0.125rem;
    text-align: center;
    list-style-type: none;
    color: #bb8644;
    text-shadow: 3px 3px 2px black, 0 0 5px #2b2212, 0 0 2px #14110c; }

.membresia {
  margin: 2rem 0; }
  .membresia__div {
    justify-content: center;
    gap: 5rem; }
    @media (min-width: 721px) and (max-width: 1230px) {
      .membresia__div {
        flex-direction: column;
        gap: 3rem; } }
    @media (min-width: 541px) and (max-width: 720px) {
      .membresia__div {
        flex-direction: column;
        gap: 1rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .membresia__div {
        flex-direction: column;
        gap: 0.5rem; } }
  .membresia__img {
    width: 30vw;
    height: auto;
    margin: 1%;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85); }
    .membresia__img:hover {
      transform: scale(1.1);
      transition: all 1s; }
      @media (min-width: 541px) and (max-width: 720px) {
        .membresia__img:hover {
          transform: none; } }
      @media (min-width: 320px) and (max-width: 540px) {
        .membresia__img:hover {
          transform: none; } }
    @media (min-width: 721px) and (max-width: 1230px) {
      .membresia__img {
        width: 45vw; } }
    @media (min-width: 541px) and (max-width: 720px) {
      .membresia__img {
        width: 85vw;
        height: auto;
        margin: 1rem; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .membresia__img {
        width: 85vw;
        height: auto;
        margin: 1rem; } }

.map {
  justify-content: center;
  width: 50vw;
  height: 50vh;
  margin: 1rem 0rem;
  box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85); }
  @media (min-width: 721px) and (max-width: 1230px) {
    .map {
      width: 70vw;
      height: 50vh; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .map {
      width: 85vw; } }

.contacto {
  justify-content: center; }
  @media (min-width: 541px) and (max-width: 720px) {
    .contacto {
      width: 90vw; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .contacto {
      width: 90vw; } }
  .contacto__form {
    justify-content: center;
    background-image: url(../resources/imgContact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85); }
    @media (min-width: 541px) and (max-width: 720px) {
      .contacto__form {
        width: 90vw; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .contacto__form {
        width: 85vw; } }
  .contacto__label {
    justify-content: center;
    margin-bottom: 1.8rem; }
  .contacto__text {
    margin-bottom: 0.6rem; }
  @media (min-width: 541px) and (max-width: 720px) {
    .contacto label {
      font-size: 1rem; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .contacto label {
      font-size: 1rem; } }
  .contacto textarea {
    width: 25rem;
    height: 10rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8e1;
    font-size: 1rem;
    resize: none; }
    @media (min-width: 541px) and (max-width: 720px) {
      .contacto textarea {
        width: 76vw; } }
    @media (min-width: 320px) and (max-width: 540px) {
      .contacto textarea {
        width: 76vw; } }

* {
  margin: 0;
  padding: 0; }

body {
  background: linear-gradient(90deg, #122d14 0%, #286428 50%, #122d14 100%); }

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  gap: 1rem; }
  @media (min-width: 541px) and (max-width: 720px) {
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "header header" "main main" "footer footer";
      gap: 0.3%; } }
  @media (min-width: 320px) and (max-width: 540px) {
    .gridContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "main" "footer";
      gap: 0.5rem; } }

main {
  grid-area: main; }
