* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(20, 60, 20, 1) 0%, rgba(40, 100, 40, 1) 50%, rgba(20, 60, 20, 1) 100%);
}

.header__logo {
    margin: 9px;
    width: 93px;
    height: auto;
}

.header__title {
    font-family: 'Bungee Inline', cursive;
    font-size: xx-large;
    padding: 4px;
    margin: 3px;
    margin-top: 10%;
    color: rgb(227, 174, 108);
}

.header__subtitle {
    font-size: x-large;
    font-family: 'Amatic SC', cursive;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    text-align: center;
    color: rgb(148, 107, 26)
}

.header__name {
    padding: 4px;
    margin: 4px;
}

.header__watermark {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    margin: 1%;
    width: 65vw;
}

.header__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 3%;
    padding: 3%;
    gap: 6%;
    width: 65vw;
}

.header__li {
    margin: 3px;
    padding: 3px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.75em;
    font-weight: bold;
    list-style-type: none;
    text-align: center;
}

.header__link:link {
    color: rgb(45, 126, 79);
    background-color: transparent;
    text-decoration: none;
}

.header__link:visited {
    color: rgb(88, 146, 88);
    background-color: transparent;
    text-decoration: none;
}

.header__link:hover {
    color: rgb(96, 165, 39);
    background-color: transparent;
    text-decoration: none;
}

.header__link:active {
    color: rgb(0, 83, 79);
    background-color: transparent;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    border-top: 5px solid rgb(15, 37, 37);
    border-bottom: 5px solid rgb(15, 37, 37);
    background-image: linear-gradient(to bottom, #0f2b2b, #0f3c3c, #0f2b2b);
    height: 112px;
    z-index: 1;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 10px;
    border-top: 5px solid rgb(15, 43, 43);
    border-bottom: 5px solid rgb(15, 43, 43);
    background: rgb(14, 40, 40);
    background: linear-gradient(180deg, rgba(14, 40, 40, 1) 0%, rgba(15, 58, 58, 1) 50%, rgba(14, 40, 40, 1) 100%);
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 16px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.footer__span {
    font-size: larger;
    font-family: 'Mouse Memoirs', sans-serif;
    margin-right: 10px;
    color: rgb(50, 146, 50);
}

.carousel__div {
    margin-left: 0.7%;
    margin-right: 0.7%;
    padding: 1%;
    width: 85%;
    height: auto;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p {
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    padding: 1%;
    margin: 1%;
    text-align: center;
    list-style-type: none;
    color: rgb(227, 174, 108)
}

.cards__divDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: auto;
    margin-left: 3%;
}

.cards__title {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
    margin: 10px;
    color: rgb(0, 60, 0)
}

.cards__video {
    width: 946px;
    height: 536px;
    margin: 1%;
    padding: 5px;
}

.cards__img {
    width: 30em;
    height: auto;
    margin: 12px;
    padding: 5px;
}

.cards__description {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: x-large;
    text-align: justify;
    padding: 15px;
    margin: 16px;
    border-radius: 35px;
    color: rgb(15, 43, 43);
    background-color: rgb(194, 235, 194, 0.5);

}

.cards__one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(144, 185, 144, 0.75);
    width: 88%;
    border-style: groove;
    border-color: rgb(15, 58, 58);
    border-radius: 35px;
    margin: 2em;
}

.cards__two {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(144, 185, 144, 0.75);
    width: 88%;
    border-style: groove;
    border-color: rgb(15, 58, 58);
    border-radius: 35px;
    margin: 1em;
}

.cards__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0.8%;
    margin-bottom: 1.5%;
    border-radius: 35px;
    background-color: rgb(12, 44, 46);
    color: rgb(187, 134, 68)
}

.sabores__name {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
    margin: 5px;
    color: rgb(95, 28, 7);
}

.sabores__img {
    width: 180px;
    height: 400px;
    margin: 10px;
    padding: 0px;
    border-radius: 35px;
    border-style: groove;
    border-color: rgb(88, 43, 13);
}

.sabores__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border-style: groove;
    border-color: rgb(0, 60, 0);
    background-color: rgb(60, 120, 60)
}

.sabores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: 16px;
}

.somos__img {
    width: 47em;
    height: auto;
    margin: 1%;
    padding: 1%;
}

.description {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: x-large;
    width: 60%;
    text-align: center;
    padding: 15px;
    margin: 16px;
    border-radius: 35px;
    border-style: groove;
    border-color: rgb(15, 58, 58);
    background-color: rgba(194, 240, 194, 0.40);
    color: rgb(15, 33, 33);
}

.somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

textarea {
    width: 80%;
    height: 200px;
    margin: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8e1;
    font-size: 16px;
    resize: none;
}

label {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: larger;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgba(14, 29, 31, 0.85);
    color: rgb(187, 134, 68)
}

.contacto__comentario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/imgContact.jpg);
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.comentario__form {
    margin: 20px;
    padding: 16px;
    min-width: 450px;
    background-color: white;
}

.contacto__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}

.contacto__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.contacto {
    margin-bottom: 3%;
}

.contacto__map {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comentario__map {
    width: 40%;
    height: 450px;
    margin-bottom: 2%;
}

.membresia {
    margin-top: 1%;
    margin-bottom: 1%;
}

.membresia__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.membresia__div2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.membresia__img {
    width: 35em;
    height: auto;
    margin: 1.5%;
}