* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(20, 60, 20, 1) 0%, rgba(40, 100, 40, 1) 50%, rgba(20, 60, 20, 1) 100%);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
    gap: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    grid-area: header;
    border-top: 5px solid rgb(15, 37, 37);
    border-bottom: 5px solid rgb(15, 37, 37);
    background-image: linear-gradient(to bottom, #0f2121, #0f3c3c, #0f2121);
    height: 7.3em;
    z-index: 1;
}

.header__logo {
    margin: 9px;
    width: 6em;
    height: auto;
}

.header__logo:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.header__title {
    font-family: 'Bungee Inline', cursive;
    font-size: 1.9em;
    padding: 4px;
    margin: 3px;
    text-shadow: 1px 1px 1px black, 0 0 4px rgb(223, 190, 125), 0 0 2px rgba(199, 151, 56, 0.75);
    color: rgb(227, 174, 108);
}

.header__subtitle {
    font-size: 1.4em;
    font-family: 'Amatic SC', cursive;
    padding: 3px;
    text-shadow: 1px 1px 1px black, 0 0 12px rgb(223, 190, 125), 00 0 6px rgba(199, 151, 56, 0.75);
    color:rgb(220, 160, 100);
}

.header__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 3px;
}

.header__watermark {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    margin: 6px;
    width: 65vw;
}

.header__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 3%;
    padding: 3%;
    gap: 4%;
    width: 60vw;
}

.header__li {
    margin: 3px;
    padding: 3px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.6em;
    list-style-type: none;
    text-align: center;
}

.header__li:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

.header__link:link {
    color: rgb(60, 148, 97);
    background-color: transparent;
    text-decoration: none;
    text-shadow: 1.5px 1px 1px black, 0 0 10px rgb(111, 207, 202), 00 0 5px rgb(76, 165, 138);
}

.header__link:visited {
    color: rgb(62, 160, 103);
    background-color: transparent;
    text-decoration: none;
}

.header__link:hover {
    color: rgb(96, 165, 39);
    background-color: transparent;
    text-decoration: none;
    transition: all 0.5s;
}

.header__link:active {
    color: rgb(0, 83, 79);
    background-color: transparent;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
}

footer {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: "nombre span redes";
    align-items: center;
    justify-content: center;
    grid-area: footer;
    padding: 10px;
    border-top: 5px solid rgb(15, 43, 43);
    border-bottom: 5px solid rgb(15, 43, 43);
    background: rgb(14, 40, 40);
    background: linear-gradient(180deg, rgba(14, 40, 40, 1) 0%, rgba(15, 58, 58, 1) 50%, rgba(14, 40, 40, 1) 100%);
}

.footer__title {
    font-family: 'Bungee Inline', cursive;
    font-size: 1.8em;
    padding: 3px;
    color: rgb(227, 174, 108);
    text-shadow: 1px 1px 1px black, 0 0 4px rgb(223, 190, 125), 0 0 2px rgba(199, 151, 56, 0.75);
}

.footer__a:hover {
    color: rgb(227, 174, 108);
    transform: scale(1.1);
    transition: all 0.5s;
}

.footer__a:link {
    text-decoration: none;
}

.footer__subtitle {
    font-size: 1.2em;
    font-family: 'Amatic SC', cursive;
    color: rgb(220, 160, 100);
    text-shadow: 1px 1px 1px black, 0 0 12px rgb(223, 190, 125), 00 0 6px rgba(199, 151, 56, 0.75);
}

.footer__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    grid-area: nombre;
    padding: 2px;
    margin: 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1em;
    width: 2em;
    height: 2em;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    grid-area: redes;
}

.footer__span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-area: span;
    font-size: 1.4em;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    margin: 14px;
    color: rgb(50, 146, 50);
}

.carousel__div {
    margin-left: 0.7%;
    margin-right: 0.7%;
    padding: 1%;
    width: 85%;
    height: auto;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p {
    font-family: 'Courgette', cursive;
    font-size: 1.2em;
    padding: 1%;
    margin: 10px;
    text-align: center;
    list-style-type: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black, 0 0 4px rgb(129, 99, 39), 0 0 2px rgb(70, 55, 25);
}

.p__title {
    font-size:1.5em;
}

.cards__divDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33vw;
    height: auto;
}

.cards__title {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
    margin: 10px;
    color: rgb(0, 60, 0)
}

.cards__video {
    width: 43vw;
    height: 40vh;
    margin: 1%;
    padding: 5px;
}

.cards__img {
    width: 23vw;
    height: auto;
    margin: 12px;
    padding: 5px;
}

.cards__description {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    padding: 15px;
    margin: 16px;
    border-radius: 35px;
    border-style: groove;
    box-shadow: 5px 5px 13px 2px rgba(0,0,0,0.9);
    border-color: rgb(15, 58, 58);
    background: rgba(125,190,125,1);
    background: linear-gradient(135deg, rgba(50,125,60,0.9) 0%, rgba(125,190,125,1) 50%, rgba(50,125,60,0.9) 100%);
}

.cards__one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(144, 185, 144, 0.75);
    width: 88%;
    border-style: groove;
    border-color: rgb(15, 58, 58);
    border-radius: 35px;
    margin: 16px;
}

.cards__two {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(144, 185, 144, 0.75);
    width: 88%;
    border-style: groove;
    border-color: rgb(15, 58, 58);
    border-radius: 35px;
    margin: 16px;
}

.cards__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin:3px;
}

.btn:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.title__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 30vw;
    height: auto;
    padding: 1%;
    margin-top: 0.8%;
    margin-bottom: 1.5%;
    border: 2px solid rgb(15, 37, 37);
    border-radius: 35px;
    box-shadow: 5px 5px 13px 2px rgba(0,0,0,0.9);
    background-image: linear-gradient(to bottom, #0f2b2b, #0f3c3c, #0f2b2b);
    color: rgb(187, 134, 68)
}

.sabores__name {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
    margin: 5px;
    text-shadow: 2px 2px 4px rgb(168, 118, 103);
    text-shadow: 1px 1px 1px black, 0 0 15px rgb(223, 190, 125), 00 0 8px rgb(168, 118, 103);
    color: rgb(95, 28, 7);
}

.sabores__img {
    width: 9vw;
    height: auto;
    margin: 10px;
    padding: 0px;
    border-radius: 35px;
    border-style: groove;
    border-color: rgb(88, 43, 13);
}

.sabores__img:hover {
    transform: scale(1.2);
    transition: all 1s;
}

.sabores__p {
    font-family: 'Courgette', cursive;
    font-size: 1.1em;
    padding: 1%;
    margin: 10px;
    text-align: center;
    list-style-type: none;
    color: rgb(184, 155, 98);
    text-shadow: 1px 1px 1px black, 0 0 4px rgb(116, 83, 17), 0 0 2px rgb(80, 57, 11);
}

li {
    list-style-type: none;
}

.sabores__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border-style: groove;
    box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.9);
    border-color: rgb(14,50,35);
    background: rgb(15,40,33);
    background: linear-gradient(90deg, rgba(16,55,35,1) 0%, rgba(50,95,50,1) 50%, rgba(16,55,35,1) 100%);
}

.sabores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4em;
    margin: 2em;
}

.somos__img {
    width: 50vw;
    height: auto;
    margin: 1%;
    padding: 1%;
}

.somos__img:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.description {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.1em;
    width: 40vw;
    text-align: center;
    padding: 15px;
    margin: 32px;
    border-radius: 35px;
    border-style: groove;
    box-shadow: 5px 5px 13px 2px rgba(0,0,0,0.9);
    border-color: rgb(15, 58, 58);
    background: rgba(125,190,125,1);
    background: linear-gradient(135deg, rgba(50,125,60,0.9) 0%, rgba(125,190,125,1) 50%, rgba(50,125,60,0.9) 100%);
    color: rgb(15, 33, 33);
}

.somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

textarea {
    width: 25em;
    height: 9em;
    margin: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8e1;
    font-size: 16px;
    resize: none;
}

label {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgba(14, 29, 31, 0.90);
    color: rgb(187, 134, 68)
}

.contacto__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/imgContact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 16px;
}


.contacto__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}

.contacto__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.contacto__btn {
    display: flex;
    flex-direction: row;
}

.contacto__map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comentario__map {
    width: 65vw;
    height: 20em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.membresia {
    margin-top: 1em;
    margin-bottom: 1em;
}

.membresia__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.membresia__div2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.membresia__img {
    width: 30vw;
    height: auto;
    margin: 1%;
}

.membresia__img:hover {
    transform: scale(1.1);
    transition: all 1s;
}

/* Tablet Mini*/
@media (min-width:541px) and (max-width:720px) {
    .gridContainer {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "header header"
                            "main main"
                            "footer footer";
        gap: 0.3%;
    }

    header {
        justify-content: center;
        height: 13.3em;
    }

    .header__watermark{
        justify-content: center;
    }

    .header__logo {
        width: 5.5em;
        margin: 3px;
    }
    .header__title {
        font-size: 1.6em;
        padding: 2px;
        margin: 2px;
    }
    
    .header__subtitle {
        font-size: 1.3em;
    }

    .header__nav {
        padding: 1%;
        margin: 6px;
        width: 45vw;
    }
    
    .header__ul {
        flex-direction: column;
        margin: 8px;
        padding: 8px;
        width: 45vw;
    }
    
    .header__li {
        margin: 2px;
        padding: 1px;
        font-size: 1.3em;
    }


    footer {
        grid-template-columns: 1fr;
        grid-template-rows: (0.5fr 0.5fr 1fr);
        grid-template-areas:"nombre" 
                            "redes"
                            "span";
    }

    .footer__title {
        font-size: 1.25em;
    }

    .footer__subtitle {
        font-size: 1.1em;
    }

    .footer__span {
        font-size: 1.1em;
    }

    .carousel__div {
        width: 95%;
        height: auto;
    }

    .p {
        font-size: 1.1em;
        margin: 15px;
        padding: 3px;
    }

    .cards__one {
        flex-direction: column;
        width: 90vw;
    }

    .cards__two {
        flex-direction: column;
        width: 90vw;
    }

    .cards__divDescription {
        width: 88%;
    }

    .cards__title {
        font-size: x-large;
    }

    .cards__video {
        width: 65vw;
        height: 23vh;
        margin: 3px;
        margin-top: 15px;
        padding: 3px;
    }

    .cards__img {
        width: 55vw;
        margin: 12px;
        padding: 5px;
    }

    .cards__title {
        font-size: 1.3em;
        padding: 3px;
        margin: 5px;
    }
    
    .cards__description {
        font-size: 1em;
        padding: 12px;
        margin: 8px;
    }

    .title {
        font-size: 1.3em;
    }

    .somos__img {
        width: 90vw;
    }

    .description {
        width: 90vw;
        height: auto;
    }

    .sabores {
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
        margin: 16px;
    }
    
    .sabores__img {
        width: 20vw;
    }

    .membresia__div {
        flex-direction: column-reverse;

    }

    .membresia__div2 {
        flex-direction: column-reverse;
    }

    .membresia__img {
        width: 90vw;
        height: auto;
        margin: 16px;
    }

    .contacto {
        width: 90vw;
    }
    
    .contacto__form {
        width: 90vw;
    }

    
    label {
        font-size: 1em;
    }
    
    textarea {
        width: 76vw;
    }

    .contacto__btn {
        flex-direction: column;
    }

    .contacto__map {
        width: 90vw;
    }

    .comentario__map {
        width: 90vw;
    }
}
















/* Movile */
@media (min-width:321px) and (max-width:540px) {
    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                            "main"
                            "footer";
    }
    
    header {
        flex-direction: column;
        justify-content: center;
        height: 10.5em;
        border-top: 1px;
        border-bottom: 1px;
    }

    .header__name {
        margin: 3px;
    }
    .header__logo {
        width: 4em;
        margin: 2px;
    }

    .header__title {
        font-size: 1.4em;
        padding: 2px;
        margin: 2px;
    }

    .header__subtitle {
        font-size: 1.1em;
    }
    
    .header__nav {
        justify-content: center;
        padding: 0px;
        margin: 0px;
        width: 100vw;
    }
    
    .header__ul {
        flex-direction: row;
        justify-content: center;
        margin: 1px;
        padding: 1px;
        width: 90vw;
        gap: 5%;
    }
    
    .header__li {
        margin: 2px;
        padding: 1px;
        font-size: 1.2em;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: (0.5fr 0.5fr 1fr);
        grid-template-areas:"nombre" 
                            "redes"
                            "span";
    }

    .footer__title {
        font-size: 1.25em;
    }

    .footer__subtitle {
        font-size: 1.1em;
    }

    .footer__span {
        font-size: 1.1em;
    }

    .carousel__div {
        width: 96%;
        height: auto;
    }

    .p {
        font-size: 1em;
        margin: 10px;
        padding: 3px;
    }

    .cards__one {
        flex-direction: column;
        width: 90vw;
    }

    .cards__two {
        flex-direction: column;
        width: 90vw;
    }

    .cards__divDescription {
        width: 88%;
    }

    .cards__title {
        font-size: x-large;
    }

    .cards__video {
        width: 80vw;
        height: 23vh;
        margin: 3px;
        margin-top: 15px;
        padding: 3px;
    }

    .cards__img {
        width: 70vw;
        margin: 12px;
        padding: 5px;
    }

    .cards__title {
        font-size: 1.3em;
        padding: 3px;
        margin: 5px;
    }
    
    .cards__description {
        font-size: 1em;
        padding: 12px;
        margin: 8px;
    }

    .title {
        font-size: 1.3em;
    }

    .somos__img {
        width: 90vw;
    }

    .description {
        width: 83.5vw;
        height: auto;
    }

    .sabores {
        grid-template-columns: 1fr;
        gap: 16px;
        margin: 16px;
    }
    
    .sabores__img {
        width: 35vw;
    }

    .membresia__div {
        flex-direction: column-reverse;
        gap:0.5%;
    }

    .membresia__div2 {
        flex-direction: column-reverse;
        gap: 0.5%;
    }

    .membresia__img {
        width: 90vw;
        height: auto;
        margin: 16px;
    }

    .contacto {
        width: 90vw;
    }
    
    .contacto__form {
        width: 90vw;
    }

    label {
        font-size: 1em;
    }

    textarea {
        width: 76vw;
    }

    .contacto__btn {
        flex-direction: column;
    }

    .contacto__map {
        width: 90vw;
    }

    .comentario__map {
        width: 90vw;
    }
}
