.btn {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.3rem;
    margin: 0.6rem;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85);

    &:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        @media (min-width:320px) and (max-width:540px) {
            transform: none;
        }
    }

    @media (min-width:320px) and (max-width:540px) {
        font-size: 1.1rem;
        margin: 0.4rem;
    }
}