.btn {
    font-family: $font-principal;
    font-size: 1.3rem;
    margin: 0.6rem;
    box-shadow: $box-shadow;

    &:hover {
        transform: $scale-btn;
        transition: $transition;

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            transform: none;
        }
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        font-size: 1.1rem;
        margin: 0.4rem;
    }
}