.cards {
    justify-content: space-evenly;
    width: 88vw;
    margin: 2rem;
    border-color: $border-color-description;
    box-shadow: $box-shadow;    background: $bg-color-card;
    @include outline;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        flex-direction: column;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        flex-direction: column;
        width: 90vw;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        width: 93vw;
        margin: 2rem 0.25rem;
    }

    &__video {
        width: 43vw;
        height: 40vh;
        margin: 2rem;
        box-shadow: $box-shadow;


        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 68vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 65vw;
            height: 23vh;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 85vw;
            height: 25vh;
        }
    }

    &__img {
        width: 20vw;
        height: auto;
        margin: 2rem;
        box-shadow: $box-shadow;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 35vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 55vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 70vw;
        }
    }

    &__divDescription {
        width: 33vw;
        height: auto;
        @include columnaCentrada;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 75vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 84vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 83vw;
        }
    }

    &__title {
        font-family: $font-principal;
        font-size: 1.9rem;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: $color-title-card;
        text-shadow: $textshadow-title-card;
        @include margin-text-lg;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            font-size: 1.6rem;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            font-size: 1.3rem;
            padding: 0.125rem;
            margin: 0.5rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            font-size: 1.3rem;
            margin: 0.325rem;
            padding: 0.325rem;
        }
    }

    &__description {
        font-family: $font-principal;
        font-size: 1.25rem;
        text-align: center;
        border-color: $border-color-description;
        background: $bg-color-description;
        color: $color-black;
        @include margin-text-lg;
        @include outline;

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 60vw;
            font-size: 1rem;
            padding: 0.25rem;
            margin: 0.5rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 70vw;
            font-size: 1rem;
            margin: 0.5rem;
        }
    }
}