.cards {
    justify-content: space-evenly;
    width: 88vw;
    margin: 1.5rem;
    border-style: groove;
    border-color: $border-color-cards;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background: $bg-color-card;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        flex-direction: column;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        flex-direction: column;
        width: 90vw;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        width: 93vw;
        margin: 1rem 0.25rem 0.25rem 0.25rem;
    }

    &__video {
        width: 43vw;
        height: 40vh;
        margin: 1rem;
        box-shadow: $box-shadow;


        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 68vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 65vw;
            height: 23vh;
            margin: 0.125rem;
            margin-top: 1rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 85vw;
            height: 25vh;
            margin: 1rem 0rem;
        }
    }

    &__img {
        width: 23vw;
        height: auto;
        margin: 1rem;
        box-shadow: $box-shadow;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 35vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 55vw;
            margin: 1rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 70vw;
            margin: 1rem 0rem;
        }
    }

    &__divDescription {
        width: 33vw;
        height: auto;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 75vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 84vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 83vw;
        }
    }

    &__title {
        font-family: $font-principal;
        font-size: 1.9rem;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        margin: 0.8rem;
        color: $color-title-card;
        text-shadow: $textshadow-title-card;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            font-size: 1.6rem;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            font-size: 1.3rem;
            padding: 0.125rem;
            margin: 0.5rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            font-size: 1.3rem;
            margin: 0.325rem;
            padding: 0.325rem;
        }
    }

    &__description {
        font-family: $font-principal;
        font-size: 1.25rem;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
        border-radius: $border-radius;
        border-style: groove;
        box-shadow: $box-shadow;
        border-color: $border-color-cards;
        background: $bg-color-description;
        color: $color-black;

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 60vw;
            font-size: 1rem;
            padding: 0.25rem;
            margin: 0.5rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 70vw;
            font-size: 1rem;
            margin: 0.5rem;
        }
    }
}