.contacto {
    justify-content: center;
    @include columnaCentrada;

    @media (min-width:$min-md) and (max-width:$max-md) {
        width: 90vw;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        width: 90vw;
    }

    &__form {
        justify-content: center;
        background-image: url(../resources/imgContact.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1rem 0rem 4rem 0rem;
        box-shadow: $box-shadow;
        @include columnaCentrada;


        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 80vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 85vw;
            margin: 1rem 0rem 2rem 0rem;
        }

    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            margin-bottom: 1rem;
        }
    }

    &__text {
        margin-bottom: 0.6rem;
        @include columnaCentrada;
    }

    label {
        width: 13vw;
        font-family: $font-principal;
        font-size: 1.1rem;
        font-weight: bold;
        margin: 1.2rem 0.5rem 0.3rem;
        padding: 0.25rem 0.8rem 0.25rem 0.8rem;
        text-align: center;
        border-radius: $border-radius;
        background-color: $bg-color-label;
        color: $color-title;
        @include columnaCentrada;

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 25vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 25vw;
        }
    }

    #name {
        @include outline-label;
    }

    #surname {
        @include outline-label;
    }

    #email {
        @include outline-label;
    }

    textarea {
        width: 25rem;
        height: 10rem;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: $border-radius;
        background-color: $bg-color-input;
        font-size: 1rem;

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 76vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 76vw;
        }
    }
}