.contacto {
    justify-content: center;

    @media (min-width:$min-md) and (max-width:$max-md) {
        width: 90vw;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        width: 90vw;
    }

    &__form {
        justify-content: center;
        background-image: url(../resources/imgContact.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1rem;
        box-shadow: $box-shadow;


        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 80vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 85vw;
        }

    }

    &__label {
        justify-content: center;
        margin-bottom: 1.8rem;
    }

    &__text {
        margin-bottom: 0.6rem;
    }

    label {
        font-family: $font-principal;
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0.5rem;
        padding: 0.25rem 0.8rem 0.25rem 0.8rem;
        border-radius: $border-radius;
        background-color: $bg-color-label;
        color: $color-title;

        @media (min-width:$min-md) and (max-width:$max-md) {
            font-size: 1rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            font-size: 1rem;
        }
    }

    #name {
        @include form-label;
    }

    #surname {
        @include form-label;
    }

    #email {
        @include form-label;
    }

    textarea {
        width: 25rem;
        height: 10rem;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: $border-radius;
        background-color: $bg-color-input;
        font-size: 1rem;
        resize: none;

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 76vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 76vw;
        }
    }
}