.filaCentrada {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        flex-direction: column;
    }
}

.reversa {
    flex-direction: row-reverse;
    @media (min-width:$min-xs) and (max-width:$max-xs) {
        flex-direction: column;
    }
}