footer {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: "nombre span redes";
    align-items: center;
    justify-content: center;
    grid-area: footer;
    padding: 2rem;
    border-top: 0.2rem solid rgb(11, 26, 27);
    border-bottom: 0.2rem solid rgb(11, 26, 27);
    background: rgb(14, 40, 40);
    background: linear-gradient(180deg, rgba(14, 40, 40, 1) 0%, rgba(15, 58, 58, 1) 50%, rgba(14, 40, 40, 1) 100%);

    .footer {

        &__name {
            grid-area: nombre;
            justify-self: center;
        }

        &__a {
            text-decoration: none;

            &:hover {
                color: rgb(227, 174, 108);
                transform: scale(1.15);
                transition: all 0.5s;
            }
        }

        &__title {
            font-family: 'Bungee Inline', cursive;
            font-size: 1.8rem;
            padding: 0.125rem;
            margin-bottom: 0;
            color: rgb(227, 174, 108);
            text-shadow: 1px 1px 1px black, 0 0 4px rgb(223, 190, 125), 0 0 2px rgba(199, 151, 56, 0.75);
        }

        &__subtitle {
            font-size: 1.2rem;
            font-family: 'Amatic SC', cursive;
            margin-bottom: 0;
            color: rgb(220, 160, 100);
            text-shadow: 1px 1px 1px black, 0 0 12px rgb(223, 190, 125), 00 0 6px rgba(199, 151, 56, 0.75);
        }

        &__span {
            grid-area: span;
            justify-content: center;
            font-size: 1.4rem;
            font-family: 'Mouse Memoirs', sans-serif;
            text-align: center;
            margin: 1rem;
            text-shadow: 1px 1px 1px black, 0 0 3px rgb(71, 134, 130), 0 0 1px rgb(76, 165, 138);
            color: rgb(44, 121, 44);
        }

        &__redes {
            grid-area: redes;
            justify-content: center;
            margin: 0;
        }
    }

    .fa {
        justify-content: center;
        padding: 0.5rem;
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
        text-align: center;
        text-decoration: none;
        margin: 0.3rem 0.25rem;

        &:hover {
            color: rgb(10, 20, 20);
            opacity: 0.6;
        }
    }

    .fa-instagram {
        background: rgb(81, 91, 212);
        background: linear-gradient(135deg, rgba(81, 91, 212, 1) 0%, rgba(129, 52, 175, 1) 50%, rgb(172, 39, 99) 100%);
        color: rgb(13, 51, 13);
        border-radius: 50%;
        transition: all 0.5s;
    }
}