footer {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: "nombre span redes";
    align-items: center;
    justify-content: center;
    grid-area: footer;
    padding: 2rem;
    border-top: $border-color-footer;
    border-bottom: $border-color-footer;
    background: $bg-color-footer;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        padding: 1.5rem;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        grid-template-columns: 1fr;
        grid-template-rows: (0.5fr 0.5fr 1fr);
        grid-template-areas: "nombre"
            "redes"
            "span";
        padding: 1rem;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        grid-template-columns: 1fr;
        grid-template-rows: (0.5fr 0.5fr 1fr);
        grid-template-areas: "nombre"
            "redes"
            "span";
        padding: 1rem;
    }



    .footer {

        &__name {
            grid-area: nombre;
            justify-self: center;
        }

        &__a {
            text-decoration: none;

            &:hover {
                transform: $scale;
                transition: $transition;
            }
        }

        &__title {
            font-family: $font-logo;
            font-size: 1.8rem;
            padding: 0.125rem;
            margin-bottom: 0;
            color: $color-title-logo;
            text-shadow: $textshadow-title-logo;

            @media (min-width:$min-md) and (max-width:$max-md) {
                font-size: 1.5em;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                font-size: 1.35rem;
            }
        }

        &__subtitle {
            font-family: $font-subtitle;
            font-size: 1.2rem;
            margin-bottom: 0;
            color: $color-title-logo;
            text-shadow: $textshadow-title-logo;

            @media (min-width:$min-md) and (max-width:$max-md) {
                font-size: 1.1em;
                margin-bottom: 1rem;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }
        }

        &__span {
            font-family: $font-principal;
            font-size: 1.4rem;
            justify-content: center;
            grid-area: span;
            margin: 1rem;
            text-align: center;
            text-shadow: $textshadow-span;
            color: $color-span;

            @media (min-width:$min-md) and (max-width:$max-md) {
                font-size: 1.1em;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                font-size: 1rem;
            }
        }

        &__redes {
            grid-area: redes;
            justify-content: center;
            margin: 0;
        }
    }

    .fa {
        justify-content: center;
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
        margin: 0.3rem 0.25rem;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: $color-black;
            opacity: 0.55;
        }

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            font-size: 1.6rem;
            width: 3.2rem;
            height: 3.2rem;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            font-size: 1.6rem;
            padding: 0.5rem;
            width: 2.5rem;
            height: 2.5rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            font-size: 1.5rem;
            padding: 0.5rem;
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    .fa-instagram {
        background: $bg-color-fa-insta;
        color: $color-fa-insta;
        border-radius: $border-radius-fa;
        transition: $transition;
    }
}