header {
    grid-area: header;
    position: sticky;
    top: 0px;
    border-top: $border-color-header;
    border-bottom: $border-color-header;
    background: $bg-color-header;
    z-index: 3;

    .header {
        @media (min-width:$min-md) and (max-width:$max-md) {
            justify-content: center;
        }

        &__watermark {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            @media (min-width:$min-md) and (max-width:$max-md) {
                justify-content: center;
            }
        }

        &__logo {
            width: 6rem;
            height: auto;
            margin: 0.5rem;

            &:hover {
                @include scale-hover-fast;
            }

            @media (min-width:$min-md) and (max-width:$max-md) {
                width: 5rem;
                margin: 0.1rem;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                width: 4rem;
                margin: 0.1rem;
            }
        }

        &__name {
            justify-content: center;
            @include margin-text-min;
            @include columnaCentrada;
            
            @media (min-width:$min-xs) and (max-width:$max-xs) {
                margin: 0.125rem;
            }
        }

        &__title {
            font-family: $font-logo;
            font-size: 1.9rem;
            padding: 0.35rem;
            padding-bottom: 0;
            text-shadow: $textshadow-title-logo;
            color: $color-title-logo;

            @media (min-width:$min-md) and (max-width:$max-md) {
                font-size: 1.6rem;
                @include margin-text-min;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                font-size: 1.6rem;
                @include margin-text-min;
            }
        }

        &__subtitle {
            font-size: 1.4rem;
            font-family: $font-subtitle;
            padding: 0.125rem;
            margin-bottom: 0;
            text-shadow: $textshadow-title-logo;
            color: $color-title-logo;

            @media (min-width:$min-md) and (max-width:$max-md) {
                font-size: 1.2rem;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                font-size: 1.1rem;
            }
        }
    }
}

.nav-item {
    font-family: $font-subtitle;
    font-size: 1.6rem;

    &:hover {
        transform: $scale-btn;
        transition: $transition;
    }

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        font-size: 1.5rem;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        font-size: 1.4rem;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
}

.nav-link {
    color: $color-navlink-link;
    text-shadow: $textshadow-link;

    &:link {
        color: $color-navlink-link;
    }

    &:active {
        color: $color-navlink-active;
    }

    &:visited {
        color: $color-navlink-visited;
    }

    &:hover {
        color: $color-title-logo;
        text-shadow: $textshadow-title-logo;
        transition: $transition;
    }
}