.map {
    justify-content: center;
    width: 50vw;
    height: 50vh;
    margin: 2rem 0rem 4rem 0rem;
    box-shadow: $box-shadow;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        width: 80vw;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        width: 85vw;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        width: 90vw;
    }
}