/* pc-laptop */

@media (min-width:721px) and (max-width:1230px) {

    .nav-item {
        font-size: 1.5rem;
    }

    .fa {
        font-size: 1.6rem;
        width: 3.2rem;
        height: 3.2rem;
    }

    .cards {
        flex-direction: column;

        &__video {
            width: 68vw;
        }

        &__img {
            width: 35vw;
        }

        &__divDescription {
            width: 75vw;
        }

        &__title {
            font-size: 1.6rem;
        }
    }

    .somos__img {
        width: 80vw;
    }

    .sabores {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem;

        &__img {
            width: 15vw;
        }
    }

    .membresia__div {
        flex-direction: column;
        gap: 3rem;
    }

    .membresia__img {
        width: 45vw;
    }

    .map {
        width: 70vw;
        height: 50vh;
    }

    .description {
        width: 80vw;
    }
}

/* Tablet Mini*/

@media (min-width:541px) and (max-width:720px) {

    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header"
            "main main"
            "footer footer";
        gap: 0.3%;
    }

    .header {
        justify-content: center;

        &__watermark {
            justify-content: center;
        }

        &__logo {
            width: 5.5rem;
            margin: 0.1rem;
        }

        &__title {
            font-size: 1.6rem;
            padding: 0.125rem;
            margin: 0.125rem;
        }

        &__subtitle {
            font-size: 1.2rem;
        }

        .nav-item {
            font-size: 1.4rem;
        }
    }

    .title {
        font-size: 1.6rem;
    }

    .p {
        font-size: 1.1rem;
        margin: 1rem;
        padding: 0.125rem;
    }

    .carousel__div {
        width: 95vw;
        height: auto;
    }

    .cards {
        flex-direction: column;
        width: 90vw;

        &__video {
            width: 65vw;
            height: 23vh;
            margin: 0.125rem;
            margin-top: 1rem;
            padding: 0.125rem;
        }

        &__img {
            width: 55vw;
            margin: 1rem;
            padding: 0.5rem;
        }

        &__divDescription {
            width: 84vw;
        }

        &__title {
            font-size: 1.3rem;
            padding: 0.125rem;
            margin: 0.5rem;
        }

        &__description {
            font-size: 1rem;
            padding: 0.25rem;
            margin: 0.5rem;
        }
    }

    .somos__img {
        width: 90vw;
    }

    .sabores {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem;
    }

    .membresia__div {
        flex-direction: column;
        gap: 1rem;
    }

    .membresia__img {
        width: 90vw;
        height: auto;
        margin: 1rem;
    }

    .contacto {
        width: 90vw;

        &__form {
            width: 90vw;

            label {
                font-size: 1rem;
            }
        }

        textarea {
            width: 76vw;
        }
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: (0.5fr 0.5fr 1fr);
        grid-template-areas: "nombre"
            "redes"
            "span";

        &__title {
            font-size: 1.5em;
        }

        &__subtitle {
            font-size: 1.1em;
            margin-bottom: 1rem;
        }

        &__span {
            font-size: 1.1em;
        }

        .fa {
            padding: 0.5rem;
            font-size: 1.6rem;
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

/* Movile */

@media (min-width:320px) and (max-width:540px) {

    .filaCentrada {
        flex-direction: column;
    }

    .title {
        width: 50vw;
        font-size: 1.4rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .btn {
        font-size: 1.1rem;
        margin: 0.4rem;
    }

    .description {
        font-size: 1.1rem;
        width: 83.5vw;
        height: auto;
    }

    .p {
        font-size: 1rem;
        margin: 1rem;
        padding: 3px;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "main"
            "footer";
        gap: 0.5rem;
    }

    .header__logo {
        width: 5rem;
        margin: 0.1rem;
    }

    .header__name {
        margin: 0.125rem;
    }

    .header__title {
        font-size: 1.6rem;
        padding: 0.125rem;
        margin: 0.125rem;
    }

    .header__subtitle {
        font-size: 1.1rem;
    }

    .nav-item {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

    .carousel {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        padding: 0.25rem;
    }

    .cards {
        width: 93vw;
        margin: 0.250rem;
    }

    .cards__video {
        width: 92vw;
        height: 25vh;
        margin: 0.35rem;
        margin-top: 1rem;
        padding: 0.35rem;
    }

    .cards__img {
        width: 70vw;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .cards__divDescription {
        width: 83vw;
    }

    .cards__title {
        font-size: 1.3rem;
        margin: 0.325rem;
        padding: 0.325rem;
    }

    .cards__description {
        font-size: 1rem;
        padding: 1rem;
        margin: 0.5rem;
    }

    .somos {
        margin: 0;
    }

    .somos__img {
        width: 90vw;
        margin: 0.5rem;
    }

    .sabores {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        margin: 1rem;
    }

    .sabores__img {
        width: 35vw;
    }

    .membresia__div {
        flex-direction: column;
        gap: 0.5rem;
    }

    .membresia__img {
        width: 90vw;
        height: auto;
        margin: 1rem;
    }

    .map {
        width: 90vw;
    }

    .contacto {
        width: 90vw;
    }

    .contacto__form {
        width: 90vw;
    }

    label {
        font-size: 1rem;
    }

    textarea {
        width: 76vw;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: (0.5fr 0.5fr 1fr);
        grid-template-areas: "nombre"
            "redes"
            "span";
        padding: 1rem;
    }

    .footer__title {
        font-size: 1.35rem;
    }

    .footer__subtitle {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .footer__span {
        font-size: 1rem;
    }

    .fa {
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 2.2rem;
        height: 2.2rem;
    }
}