.membresia {
    margin: 2rem 0;

    &__container {
        justify-content: center;
        gap: 5rem;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            flex-direction: column;
            gap: 3rem;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            flex-direction: column;
            gap: 1rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    &__img {
        width: 30vw;
        height: auto;
        margin: 1%;
        box-shadow: $box-shadow;

        &:hover {
            @include scale-hover-slow;

            @media (min-width:$min-md) and (max-width:$max-md) {
                transform: none;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                transform: none;
            }
        }

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 50vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 85vw;
            height: auto;
            margin: 1rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 90vw;
            height: auto;
            margin: 1rem;
        }
    }
}