.membresia {
    margin: 2rem 0;

    &__div {
        justify-content: center;
        gap: 5rem;

        @media (min-width:721px) and (max-width:1230px) {
            flex-direction: column;
            gap: 3rem;
        }

        @media (min-width:541px) and (max-width:720px) {
            flex-direction: column;
            gap: 1rem;
        }

        @media (min-width:320px) and (max-width:540px) {
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    &__img {
        width: 30vw;
        height: auto;
        margin: 1%;
        box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85);

        &:hover {
            transform: scale(1.1);
            transition: all 1s;

            @media (min-width:541px) and (max-width:720px) {
                transform: none;
            }

            @media (min-width:320px) and (max-width:540px) {
                transform: none;
            }
        }

        @media (min-width:721px) and (max-width:1230px) {
            width: 45vw;
        }

        @media (min-width:541px) and (max-width:720px) {
            width: 85vw;
            height: auto;
            margin: 1rem;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 85vw;
            height: auto;
            margin: 1rem;
        }
    }
}