.sabores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    margin: 2rem;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 2rem 1rem;
    }

    &__div {
        border-radius: $border-radius;
        border-style: groove;
        box-shadow: $box-shadow;
        border-color: $border-color-sabores;
        background: $bg-color-sabores;
    }

    &__name {
        font-family: $font-principal;
        font-size: 1.7rem;
        font-weight: bold;
        text-decoration: underline;
        padding: 0.5rem;
        margin: 0.5rem;
        text-shadow: $textshadow-title-sabores-name;
        color: $color-title-saboresName;
    }

    &__img {
        width: 9vw;
        height: auto;
        margin: 1rem;
        border-radius: $border-radius;
        border-style: groove;
        border-color: $border-color-saboresImg;
        box-shadow: $box-shadow;

        &:hover {
            transform: $scale;
            transition: $transition-img;

            @media (min-width:$min-lg) and (max-width:$max-lg) {
                transform: none;
            }

            @media (min-width:$min-md) and (max-width:$max-md) {
                transform: none;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                transform: none;
            }
        }

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 15vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 25vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 33vw;
        }
    }

    &__ul {
        margin: 1rem;
        padding: 0.125rem;

        li {
            font-family: $font-p;
            font-size: 1.1rem;
            padding: 1rem;
            margin: 0.125rem;
            text-align: center;
            list-style-type: none;
            color: $color-title;
            text-shadow: $textshadow-title-sabores-li;
        }
    }
}