.sabores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    margin: 2rem;

    @media (min-width:721px) and (max-width:1230px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem;
    }

    @media (min-width:541px) and (max-width:720px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem;
    }

    @media (min-width:320px) and (max-width:540px) {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        margin: 1rem;
    }

    &__div {
        border-radius: 30px;
        border-style: groove;
        box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.9);
        border-color: rgb(14, 50, 35);
        background: rgb(15, 40, 33);
        background: linear-gradient(90deg, rgba(16, 55, 35, 1) 0%, rgba(50, 95, 50, 1) 50%, rgba(16, 55, 35, 1) 100%);
    }

    &__name {
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
        text-decoration: underline;
        padding: 5px;
        margin: 5px;
        text-shadow: 1px 1px 1px black, 0 0 15px rgb(223, 190, 125), 00 0 8px rgb(168, 118, 103);
        color: rgb(95, 28, 7);
    }

    &__img {
        width: 9vw;
        height: auto;
        margin: 1rem;
        border-radius: 30px;
        border-style: groove;
        border-color: rgb(88, 43, 13);
        box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85);

        &:hover {
            transform: scale(1.2);
            transition: all 1s;

            @media (min-width:721px) and (max-width:1230px) {
                transform: none;
            }

            @media (min-width:541px) and (max-width:720px) {
                transform: none;
            }

            @media (min-width:320px) and (max-width:540px) {
                transform: none;
            }
        }

        @media (min-width:721px) and (max-width:1230px) {
            width: 15vw;
        }

        @media (min-width:541px) and (max-width:720px) {
            width: 25vw;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 33vw;
        }
    }

    &__ul {
        margin: 1rem;
        padding: 0.125rem;

        li {
            list-style-type: none;
        }
    }

    &__p {
        font-family: 'Courgette', cursive;
        font-size: 1.1rem;
        padding: 1rem;
        margin: 0.125rem;
        text-align: center;
        list-style-type: none;
        color: rgb(187, 134, 68);
        text-shadow: 3px 3px 2px rgb(0, 0, 0), 0 0 5px rgb(43, 34, 18), 0 0 2px rgb(20, 17, 12);
    }
}