.sabores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    margin: 2rem;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 2rem 1rem;
    }

    &__div {
        border-radius: 30px;
        border-style: groove;
        box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.9);
        border-color: rgb(14, 50, 35);
        background: $bg-color-sabores;
    }

    &__name {
        font-family: $font-principal;
        font-size: 1.7rem;
        font-weight: bold;
        text-decoration: underline;
        padding: 5px;
        margin: 5px;
        text-shadow: 1px 1px 1px black, 0 0 15px rgb(223, 190, 125), 00 0 8px rgb(168, 118, 103);
        color: rgb(95, 28, 7);
    }

    &__img {
        width: 9vw;
        height: auto;
        margin: 1rem;
        border-radius: 30px;
        border-style: groove;
        border-color: rgb(88, 43, 13);
        box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85);

        &:hover {
            transform: $scale;
            transition: $transition-img;

            @media (min-width:$min-lg) and (max-width:$max-lg) {
                transform: none;
            }

            @media (min-width:$min-md) and (max-width:$max-md) {
                transform: none;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                transform: none;
            }
        }

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 15vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 25vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 33vw;
        }
    }

    &__ul {
        margin: 1rem;
        padding: 0.125rem;

        li {
            font-family: $font-p;
            font-size: 1.1rem;
            padding: 1rem;
            margin: 0.125rem;
            text-align: center;
            list-style-type: none;
            color: rgb(187, 134, 68);
            text-shadow: 3px 3px 2px rgb(0, 0, 0), 0 0 5px rgb(43, 34, 18), 0 0 2px rgb(20, 17, 12);
        }
    }
}