.sabores {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: 2rem;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.8rem;
        margin: 1rem;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 2rem 1rem;
    }

    &__div {
        width: 25vw;
        @include outline-sabores;
        @include outline;
        @include columnaCentrada;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 35vw;
        }

        @media (min-width: $min-md) and (max-width: $max-md) {
            width: 43vw;
        }

        @media (min-width: $min-xs) and (max-width: $max-xs) {
            width: 78vw;
        }
    }

    &__name {
        font-family: $font-principal;
        font-size: 2.2rem;
        text-decoration: underline;
        text-shadow: $textshadow-title;
        color: $color-title-saboresName;
        @include margin-text-med;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            font-size: 1.6rem;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            font-size: 1.6rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            font-size: 1.6rem;
        }
    }

    &__img {
        width: 12rem;
        height: auto;
        margin: 0.5rem;
        border-color: $border-color-sabores;
        @include outline;

        &:hover {
            @include scale-hover-slow;

            @media (min-width:$min-lg) and (max-width:$max-lg) {
                transform: none;
            }

            @media (min-width:$min-md) and (max-width:$max-md) {
                transform: none;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                transform: none;
            }
        }

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 10rem;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 10rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 10rem;
        }
    }

    &__ul {
        margin: 1rem;
        padding: 0.125rem;

        li {
            font-family: $font-p;
            font-size: 1.1rem;
            padding: 0.8rem;
            margin: 0.125rem;
            text-align: center;
            list-style-type: none;
            color: $color-title-logo;
            text-shadow: $textshadow-sabores-li-p;

            @media (min-width:$min-lg) and (max-width:$max-lg) {
                font-size: 1rem;
            }

            @media (min-width:$min-md) and (max-width:$max-md) {
                font-size: 1rem;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                font-size: 1rem;
            }
        }
    }
    &__p {
        margin-bottom: 2rem;
    }
}