.somos {
    margin: 1rem;

    @media (min-width:320px) and (max-width:540px) {
        margin: 0;
    }

    &__img {
        width: 45vw;
        height: auto;
        margin: 1rem 1rem 2rem 1rem;
        box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85);

        &:hover {
            transform: scale(1.1);
            transition: all 1s;

            @media (min-width:541px) and (max-width:720px) {
                transform: none;
            }

            @media (min-width:320px) and (max-width:540px) {
                transform: none;
            }
        }

        @media (min-width:721px) and (max-width:1230px) {
            width: 75vw;
        }

        @media (min-width:541px) and (max-width:720px) {
            width: 80vw;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 90vw;
            margin: 0.5rem;
        }
    }
}