.somos {
    margin: 1rem;

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        margin: 0;
    }

    &__img {
        width: 45vw;
        height: auto;
        margin: 1rem 1rem 2rem 1rem;
        box-shadow: $box-shadow;

        &:hover {
            transform: $scale;
            transition: $transition-img;

            @media (min-width:$min-md) and (max-width:$max-md) {
                transform: none;
            }

            @media (min-width:$min-xs) and (max-width:$max-xs) {
                transform: none;
            }
        }

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 75vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            width: 80vw;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 90vw;
            margin: 0.5rem;
        }
    }
}