.title__container {
    justify-content: center;
    @include filaCentrada;

    .title {
        font-family: $font-principal;
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        width: 30vw;
        height: auto;
        padding: 0.5rem;
        margin: 1rem 0;
        border: $border-color-title;
        text-shadow: $textshadow-title;
        background-image: $bg-color-title;
        color: $color-title;
        @include outline;

        @media (min-width:$min-md) and (max-width:$max-md) {
            font-size: 1.6rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 50vw;
            font-size: 1.4rem;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }
    }
}

.description {
    font-family: $font-principal;
    font-size: 1.25rem;
    width: 40vw;
    text-align: center;
    border-color: $border-color-description;
    background: $bg-color-description;
    color: $color-black;
    @include margin-text-min;
    @include outline;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        width: 80vw;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        @include queries-descritpion;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        @include queries-descritpion;
    }
}

.p {
    font-family: $font-p;
    font-size: 1.2em;
    text-align: center;
    list-style-type: none;
    color: $color-white;
    text-shadow: $textshadow-sabores-li-p;
    @include margin-text-min;

    @media (min-width:$min-md) and (max-width:$max-md) {
        @include queries-p;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        @include queries-p;
    }

    &__title {
        font-size: 1.5rem;
    }
}