.title__container {
    justify-content: center;
    @include filaCentrada;

    .title {
        font-family: $font-principal;
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        width: 30vw;
        height: auto;
        padding: 0.5rem;
        margin: 1rem 0;
        @include color-textshadow-title;
        @include outline;

        @media (min-width:$min-md) and (max-width:$max-md) {
            font-size: 1.6rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 50vw;
            font-size: 1.4rem;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }
    }
}

.div {
    flex-wrap: wrap;
    justify-content: center;
    width: 45vw;
    border-color: $border-color-description;
    box-shadow: $box-shadow;
    background: $bg-color-card;
    @include display-flex-row;
    @include margin-text-lg;
    @include outline;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        @include queries-descritpion;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        @include queries-descritpion;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        @include queries-descritpion;
    }

    &__description {
        width: 40vw;
        @include description;
        @include margin-text-lg;
        @include outline;

        @media (min-width:$min-lg) and (max-width:$max-lg) {
            width: 80vw;
        }

        @media (min-width:$min-md) and (max-width:$max-md) {
            @include queries-descritpion;
            @include margin-text-med
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            @include queries-descritpion;
            @include margin-text-med;
        }
    }
}


.p {
    font-family: $font-p;
    font-size: 1.25rem;
    text-align: center;
    list-style-type: none;
    color: $color-white;
    text-shadow: $textshadow-sabores-li-p;
    @include margin-text-med;

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        @include queries-p;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        @include queries-p;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        @include queries-p;
    }

    &__title {
        font-size: 1.5rem;

        @media (min-width:$min-xs) and (max-width:$max-lg) {
            font-size: 1.3rem;
        }
    }
}