.title__container {
    justify-content: center;

    .title {
        font-family: $font-principal;
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        width: 30vw;
        height: auto;
        padding: 0.5rem;
        margin: 1rem 0;
        border: 2px solid rgb(15, 37, 37);
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        text-shadow: $textshadow-title;
        background-image: linear-gradient(to bottom, #0f2b2b, #0f3c3c, #0f2b2b);
        color: $color-title;

        @media (min-width:$min-md) and (max-width:$max-md) {
            font-size: 1.6rem;
        }

        @media (min-width:$min-xs) and (max-width:$max-xs) {
            width: 50vw;
            font-size: 1.4rem;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }
    }
}

.description {
    font-family: $font-principal;
    font-size: 1.25rem;
    width: 40vw;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 30px;
    border-style: groove;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.85);
    border-color: rgb(15, 58, 58);
    background: rgba(125, 190, 125, 1);
    background: linear-gradient(135deg, rgba(50, 125, 60, 0.9) 0%, rgba(125, 190, 125, 1) 50%, rgba(50, 125, 60, 0.9) 100%);
    color: rgb(10, 20, 20);

    @media (min-width:$min-lg) and (max-width:$max-lg) {
        width: 80vw;
    }

    @media (min-width:$min-md) and (max-width:$max-md) {
        font-size: 1rem;
        width: 80vw;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        font-size: 1rem;
        width: 80vw;
        height: auto;
    }
}

.p {
    font-family: $font-p;
    font-size: 1.2em;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    list-style-type: none;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 2px rgb(0, 0, 0), 0 0 5px rgb(43, 34, 18), 0 0 2px rgb(20, 17, 12);

    @media (min-width:$min-md) and (max-width:$max-md) {
        font-size: 1.1rem;
        margin: 1rem;
        padding: 0.125rem;
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        font-size: 1rem;
        margin: 1rem;
        padding: 3px;
    }

    &__title {
        font-size: 1.5rem;
    }
}