/* Fuentes */

$font-logo: 'Bungee Inline', cursive;
$font-subtitle: 'Amatic SC', cursive;
$font-principal: 'Mouse Memoirs', sans-serif;
$font-p: 'Courgette', cursive;

/* Colores */

$bg-color: linear-gradient(90deg, rgba(18, 45, 20, 1) 0%, rgba(40, 100, 40, 1) 50%, rgba(18, 45, 20, 1) 100%);



/*Media Queries BreakPoints*/

$min-xs: (min-width:320px);
$max-xs: (max-width:540px);
$min-md: (min-width:541px);
$max-md: (max-width:720px);
$min-lg: (min-width:721px);
$max-lg: (max-width:1230px);