@import 'variables';
@import 'helpers';
@import 'flex-posiciones';
@import 'header';
@import 'footer';
@import 'textos';
@import 'btn';
@import 'carousel';
@import 'cards';
@import 'somos-elementos';
@import 'sabores-elementos';
@import 'membresia-elementos';
@import 'map';
@import 'contacto-elementos';

* {
    margin: 0;
    padding: 0;
}

body {
    background: $bg-color;
}

main {
    grid-area: main;
    @include columnaCentrada;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";

    @media (min-width:$min-md) and (max-width:$max-md) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header"
            "main main"
            "footer footer";
    }

    @media (min-width:$min-xs) and (max-width:$max-xs) {
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "main"
            "footer";
    }
}