@import 'variables';
@import 'clases-comunes';
@import 'header';
@import 'footer';
@import 'mediaqueries';

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(18, 45, 20, 1) 0%, rgba(40, 100, 40, 1) 50%, rgba(18, 45, 20, 1) 100%);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    gap: 1rem;
}

main {
    grid-area: main;
}

.carousel {
    margin: 0 0.5rem;
    padding: 0.5rem;
    width: 90vw;
    height: auto;
}



.cards {
    justify-content: space-evenly;
    width: 88vw;
    margin: 1rem;
    border-style: groove;
    border-color: rgb(15, 58, 58);
    border-radius: 30px;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.9);
    background: rgba(185, 231, 185, 0.75);
    background: linear-gradient(135deg, rgba(144, 185, 144, 0.4) 0%, rgba(185, 231, 185, 0.75) 50%, rgba(144, 185, 144, 0.4) 100%);
    color: rgb(5, 15, 20);

    &__video {
        width: 43vw;
        height: 40vh;
        margin: 1rem;
        padding: 0.5rem;
    }

    &__img {
        width: 23vw;
        height: auto;
        margin: 1rem;
        padding: 0.5rem;
    }

    &__divDescription {
        width: 33vw;
        height: auto;
    }

    &__title {
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.9rem;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        margin: 0.8rem;
        color: rgb(16, 44, 25);
        text-shadow: 1px 1px rgba(185, 231, 185, 1);
    }

    &__description {
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.25rem;
        text-align: justify;
        padding: 1rem;
        margin: 1rem;
        border-radius: 30px;
        border-style: groove;
        box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.9);
        border-color: rgb(15, 58, 58);
        background: rgba(125, 190, 125, 1);
        background: linear-gradient(135deg, rgba(50, 125, 60, 0.9) 0%, rgba(125, 190, 125, 1) 50%, rgba(50, 125, 60, 0.9) 100%);
        color: rgb(5, 15, 20);
    }
}

.somos {
    margin: 1rem;

    &__img {
        width: 50vw;
        height: auto;
        margin: 1rem;
        padding: 0.5rem;

        &:hover {
            transform: scale(1.1);
            transition: all 1s;
        }
    }
}

.sabores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    margin: 2rem;

    &__div {
        border-radius: 30px;
        border-style: groove;
        box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.9);
        border-color: rgb(14, 50, 35);
        background: rgb(15, 40, 33);
        background: linear-gradient(90deg, rgba(16, 55, 35, 1) 0%, rgba(50, 95, 50, 1) 50%, rgba(16, 55, 35, 1) 100%);
    }

    &__name {
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
        text-decoration: underline;
        padding: 5px;
        margin: 5px;
        text-shadow: 2px 2px 4px rgb(168, 118, 103);
        text-shadow: 1px 1px 1px black, 0 0 15px rgb(223, 190, 125), 00 0 8px rgb(168, 118, 103);
        color: rgb(95, 28, 7);
    }

    &__img {
        width: 9vw;
        height: auto;
        margin: 10px;
        padding: 0px;
        border-radius: 30px;
        border-style: groove;
        border-color: rgb(88, 43, 13);

        &:hover {
            transform: scale(1.2);
            transition: all 1s;
        }
    }

    &__ul {
        margin: 1rem;
        padding: 0.125rem;

        li {
            list-style-type: none;
        }
    }

    &__p {
        font-family: 'Courgette', cursive;
        font-size: 1.1rem;
        padding: 1rem;
        margin: 0.125rem;
        text-align: center;
        list-style-type: none;
        color: rgb(184, 155, 98);
        text-shadow: 1px 1px 1px black, 0 0 4px rgb(116, 83, 17), 0 0 2px rgb(80, 57, 11);
    }
}

.membresia {
    margin: 2rem 0;

    &__div {
        justify-content: center;
        gap: 5rem;
    }

    &__img {
        width: 30vw;
        height: auto;
        margin: 1%;

            &:hover {
                transform: scale(1.1);
                transition: all 1s;
            }
        }
    }


.map {
    justify-content: center;
    width: 50vw;
    height: 50vh;
    margin: 1rem 0rem;
}

.contacto {
    justify-content: center;

    &__form {
        justify-content: center;
        background-image: url(../resources/imgContact.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1rem;
    }

    &__label {
        justify-content: center;
        margin-bottom: 1.8rem;
    }

    &__text {
        margin-bottom: 0.6rem;
    }

    textarea {
        width: 25rem;
        height: 10rem;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 10px;
        background-color: #f8f8f8e1;
        font-size: 1rem;
        resize: none;
    }
}