@import 'variables';
@import 'flex-posiciones';
@import 'header';
@import 'footer';
@import 'textos';
@import 'btn';
@import 'carousel';
@import 'cards';
@import 'somos-elementos';
@import 'sabores-elementos';
@import 'membresia-elementos';
@import 'map';
@import 'contacto-elementos';




* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(18, 45, 20, 1) 0%, rgba(40, 100, 40, 1) 50%, rgba(18, 45, 20, 1) 100%);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    gap: 1rem;

    @media (min-width:541px) and (max-width:720px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header"
            "main main"
            "footer footer";
        gap: 0.3%;
    }

    @media (min-width:320px) and (max-width:540px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "main"
            "footer";
        gap: 0.5rem;
    }
}

main {
    grid-area: main;
}










