@import 'variables';
@import 'clases-comunes';
@import 'header';
@import 'footer';

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(18, 45, 20, 1) 0%, rgba(40, 100, 40, 1) 50%, rgba(18, 45, 20, 1) 100%);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    gap: 1rem;

    @media (min-width:541px) and (max-width:720px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header"
            "main main"
            "footer footer";
        gap: 0.3%;
    }

    @media (min-width:320px) and (max-width:540px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "main"
            "footer";
        gap: 0.5rem;
    }
}

main {
    grid-area: main;
}

.carousel {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 90vw;
    height: auto;

    @media (min-width:320px) and (max-width:540px) {
        margin: 0.25rem;
        padding: 0.25rem;
    }
}

.cards {
    justify-content: space-evenly;
    width: 88vw;
    margin: 1rem;
    border-style: groove;
    border-color: rgb(15, 58, 58);
    border-radius: 30px;
    box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.9);
    background: rgba(185, 231, 185, 0.75);
    background: linear-gradient(135deg, rgba(144, 185, 144, 0.4) 0%, rgba(185, 231, 185, 0.75) 50%, rgba(144, 185, 144, 0.4) 100%);
    color: rgb(5, 15, 20);

    @media (min-width:721px) and (max-width:1230px) {
        flex-direction: column;
    }

    @media (min-width:541px) and (max-width:720px) {
        flex-direction: column;
        width: 90vw;
    }

    @media (min-width:320px) and (max-width:540px) {
        width: 93vw;
        margin: 0.250rem;
    }

    &__video {
        width: 43vw;
        height: 40vh;
        margin: 1rem;
        padding: 0.5rem;

        @media (min-width:721px) and (max-width:1230px) {
            width: 68vw;
        }

        @media (min-width:541px) and (max-width:720px) {
            width: 65vw;
            height: 23vh;
            margin: 0.125rem;
            margin-top: 1rem;
            padding: 0.125rem;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 92vw;
            height: 25vh;
            margin: 0.35rem;
            margin-top: 1rem;
            padding: 0.35rem;
        }
    }

    &__img {
        width: 23vw;
        height: auto;
        margin: 1rem;
        padding: 0.5rem;

        @media (min-width:721px) and (max-width:1230px) {
            width: 35vw;
        }

        @media (min-width:541px) and (max-width:720px) {
            width: 55vw;
            margin: 1rem;
            padding: 0.5rem;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 70vw;
            margin: 0.5rem;
            padding: 0.5rem;
        }
    }

    &__divDescription {
        width: 33vw;
        height: auto;

        @media (min-width:721px) and (max-width:1230px) {
            width: 75vw;
        }

        @media (min-width:541px) and (max-width:720px) {
            width: 84vw;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 83vw;
        }
    }

    &__title {
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.9rem;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        margin: 0.8rem;
        color: rgb(16, 44, 25);
        text-shadow: 1px 1px rgba(185, 231, 185, 1);

        @media (min-width:721px) and (max-width:1230px) {
            font-size: 1.6rem;
        }

        @media (min-width:541px) and (max-width:720px) {
            font-size: 1.3rem;
            padding: 0.125rem;
            margin: 0.5rem;
        }

        @media (min-width:320px) and (max-width:540px) {
            font-size: 1.3rem;
            margin: 0.325rem;
            padding: 0.325rem;
        }
    }

    &__description {
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.25rem;
        text-align: justify;
        padding: 1rem;
        margin: 1rem;
        border-radius: 30px;
        border-style: groove;
        box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.9);
        border-color: rgb(15, 58, 58);
        background: rgba(125, 190, 125, 1);
        background: linear-gradient(135deg, rgba(50, 125, 60, 0.9) 0%, rgba(125, 190, 125, 1) 50%, rgba(50, 125, 60, 0.9) 100%);
        color: rgb(5, 15, 20);

        @media (min-width:541px) and (max-width:720px) {
            font-size: 1rem;
            padding: 0.25rem;
            margin: 0.5rem;
        }

        @media (min-width:320px) and (max-width:540px) {
            font-size: 1rem;
            padding: 1rem;
            margin: 0.5rem;
        }
    }
}

.somos {
    margin: 1rem;

    @media (min-width:320px) and (max-width:540px) {
        margin: 0;
    }

    &__img {
        width: 50vw;
        height: auto;
        margin: 1rem;
        padding: 0.5rem;

        @media (min-width:721px) and (max-width:1230px) {
            width: 80vw;
        }

        @media (min-width:541px) and (max-width:720px) {
            width: 90vw;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 90vw;
            margin: 0.5rem;
        }

        &:hover {
            transform: scale(1.1);
            transition: all 1s;
        }
    }
}

.sabores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    margin: 2rem;

    @media (min-width:721px) and (max-width:1230px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem;
    }

    @media (min-width:541px) and (max-width:720px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem;
    }

    @media (min-width:320px) and (max-width:540px) {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        margin: 1rem;
    }

    &__div {
        border-radius: 30px;
        border-style: groove;
        box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.9);
        border-color: rgb(14, 50, 35);
        background: rgb(15, 40, 33);
        background: linear-gradient(90deg, rgba(16, 55, 35, 1) 0%, rgba(50, 95, 50, 1) 50%, rgba(16, 55, 35, 1) 100%);
    }

    &__name {
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
        text-decoration: underline;
        padding: 5px;
        margin: 5px;
        text-shadow: 2px 2px 4px rgb(168, 118, 103);
        text-shadow: 1px 1px 1px black, 0 0 15px rgb(223, 190, 125), 00 0 8px rgb(168, 118, 103);
        color: rgb(95, 28, 7);
    }

    &__img {
        width: 9vw;
        height: auto;
        margin: 10px;
        padding: 0px;
        border-radius: 30px;
        border-style: groove;
        border-color: rgb(88, 43, 13);

        @media (min-width:721px) and (max-width:1230px) {
            width: 15vw;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 35vw;
        }

        &:hover {
            transform: scale(1.2);
            transition: all 1s;
        }
    }

    &__ul {
        margin: 1rem;
        padding: 0.125rem;

        li {
            list-style-type: none;
        }
    }

    &__p {
        font-family: 'Courgette', cursive;
        font-size: 1.1rem;
        padding: 1rem;
        margin: 0.125rem;
        text-align: center;
        list-style-type: none;
        color: rgb(184, 155, 98);
        text-shadow: 1px 1px 1px black, 0 0 4px rgb(116, 83, 17), 0 0 2px rgb(80, 57, 11);
    }
}

.membresia {
    margin: 2rem 0;

    &__div {
        justify-content: center;
        gap: 5rem;

        @media (min-width:721px) and (max-width:1230px) {
            flex-direction: column;
            gap: 3rem;
        }

        @media (min-width:541px) and (max-width:720px) {
            flex-direction: column;
            gap: 1rem;
        }

        @media (min-width:320px) and (max-width:540px) {
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    &__img {
        width: 30vw;
        height: auto;
        margin: 1%;

        @media (min-width:721px) and (max-width:1230px) {
            width: 45vw;
        }

        @media (min-width:541px) and (max-width:720px) {
            width: 90vw;
            height: auto;
            margin: 1rem;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 90vw;
            height: auto;
            margin: 1rem;
        }

        &:hover {
            transform: scale(1.1);
            transition: all 1s;
        }
    }
}

.map {
    justify-content: center;
    width: 50vw;
    height: 50vh;
    margin: 1rem 0rem;

    @media (min-width:721px) and (max-width:1230px) {
        width: 70vw;
        height: 50vh;
    }

    @media (min-width:320px) and (max-width:540px) {
        width: 90vw;
    }

}

.contacto {
    justify-content: center;

    @media (min-width:541px) and (max-width:720px) {
        width: 90vw;
    }

    @media (min-width:320px) and (max-width:540px) {
        width: 90vw;
    }

    &__form {
        justify-content: center;
        background-image: url(../resources/imgContact.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1rem;

        @media (min-width:541px) and (max-width:720px) {
            width: 90vw;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 90vw;
        }

    }

    &__label {
        justify-content: center;
        margin-bottom: 1.8rem;
    }

    &__text {
        margin-bottom: 0.6rem;
    }

    label {
        @media (min-width:541px) and (max-width:720px) {
            font-size: 1rem;
        }

        @media (min-width:320px) and (max-width:540px) {
            font-size: 1rem;
        }
    }

    textarea {
        width: 25rem;
        height: 10rem;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 10px;
        background-color: #f8f8f8e1;
        font-size: 1rem;
        resize: none;

        @media (min-width:541px) and (max-width:720px) {
            width: 76vw;
        }

        @media (min-width:320px) and (max-width:540px) {
            width: 76vw;
        }
    }
}